

  /* PortfolioPage.css */

.grid-containerNew {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust as needed */
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the grid */
  }
  
  .grid-containerQ {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Simple 3-column grid */
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the grid */
}
  